<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>ここは <%= title %> です</p>
    <p>計算結果は <%= result %> です</p>
  </body>
</html>
